
@media only screen and (max-width: 576px) {
    button {
      width: 30%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .remove-responsive {
      display: none !important;
    }
    .section-1 .brand-centered {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
    .section-1 .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .section-1 .start-now {
      width: 30%;
      height: auto;
    }
    .section-1 .start-now-text {
      font-size: 4vw;
    }
    .section-2 .main-heading {
      font-size: 5vw;
      text-align: center;
    }
    .section-2 .sub-heading {
      text-align: center;
    }
    .section-3 .main-heading {
      font-size: 6vw;
      text-align: center;
    }
    .section-3 .sub-heading {
      text-align: center;
    }
    .section-4 .remove-responsive {
      display: none;
    }
    .section-4 h3, .section-4 p {
      text-align: left;
    }
    .section-4 .expert-bg {
      height: 700px;
    }
    .section-4 .link-text {
      font-size: 6vw;
    }
  }
  
  @media only screen and (max-width: 34em) {
    .navbar .nav-item .nav-link {
      padding-left: 25px;
      font-weight: normal;
      color: #fff !important;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .section-1 .start-now {
      width: 187px;
    }
    .section-1 .start-now-text {
      font-size: 19px;
    }
    .section-2 .main-heading {
      font-size: 39.5px;
      text-align: left;
    }
    .section-2 .sub-heading {
      text-align: left;
    }
    .section-3 .main-heading {
      font-size: 39.5px;
      text-align: left;
    }
    .section-3 .sub-heading {
      text-align: left;
    }
    .section-4 .expert-bg {
      height: 500px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .section-11 .footer-desktop {
      display: none;
    }
    .section-4 .remove-responsive {
      display: none;
    }
    .section-4 h3, .section-4 p {
      text-align: left;
    }
    .section-5 .remove-responsive {
      display: none;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .section-11 .footer-mobile {
      display: none;
    }
    .section-5 .professionals-mobile {
      display: none;
    }
  }
  /*# sourceMappingURL=demand_landing_mobile.css.map */