
.main-header{
  font-size: 41.5px;
  font-weight: bold;
  color: #000000;
}

.sign-up{
  width: 186px;
  height: 54px;
  border-radius: 27px;
  box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #497de4;
}

.navbar{
  box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.input{
  width: 432px;
  height: 53px;
  border-radius: 4px;
  border: solid 1px rgba(184, 184, 184, 0.54);
  background-color: #ffffff;
}

.sign-up-text{
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.has_account-text{
  padding-top: 40px;
                font-size: 19.5px;
                font-weight: 500;
                line-height: 1.64;
                text-align: center;
                color: #333333;
}

.margin-top-24{
  margin-top: 24px
}

.margin-top-23{
  margin-top: 24px
}

.padding-top-13{
  padding-top: 13px
}
.padding-top-49{
  padding-top: 49px
}

.padding-bottom-70{
  padding-bottom: 70px
}

.padding-bottom-28{
  padding-bottom: 28px
}

.padding-top-56{
  padding-top: 56px
}

.padding-top-54{
  padding-top: 54px
}

.padding-left-9{
  padding-left: 9px;
}

.padding-left-10{
  padding-left: 10px;
}

.padding-top-34{
  padding-top: 34px;
}

.padding-top-37{
  padding-top: 37px;
}




.radio-btn{
  width: 21px;
  height: 21px;
  border: solid 2px #b8b8b8;
  background-color: #ffffff;
}

@media only screen and (max-width: 576px) {
  .input{
    width: 90%;
  }
  .sign-up{
    width: 80%;
  }

  .problem_solver_image{
    width:auto;
    height:auto;
  }
}


@media only screen and (min-width: 576px) {

  .problem_solver_image{
    width:548px;
    height:319px
  }

  .input{
    width: 432px;
  }
  .sign-up{
    width: 186px;
  }
}