.mail-confirmation-page{
  .main-heading{
    font-size: 26.5px;
    font-weight: bold;
  }

  .padding-bottom-291{
    padding-bottom: 291px;
  }

  .normal-text{
    font-size: 19px;
    line-height: 1.39;
    color: #3c3c3c;
  }

  .normal-text-bold{
    font-size: 19px;
    font-weight: bold;
  }

  .last-text{
    font-size: 17px;
    line-height: 1.56;
    text-align: left;
    color: #000000;
  }
}