/* Bootstrap Custom */

.navbar-toggler {
 font-size: 15px;
 border: none;
 margin-left: -5px;
 opacity: 1;
 color: $light-text !important;
}

.btn {
//  text-transform: uppercase;
}

.btn-primary {
 font-weight: 500;
 @include hover-focus-active {
   background-color: $primary;
   border-color: $primary;
 }
}

.btn-outline-primary {
 font-weight: 400;
}

.form-control {
 font-size: 14px;
 color: $black !important;
}

.form-group {
 .invalid-feedback {
   margin-bottom: 0.5rem;
 }
 .is-invalid{
   ~.invalid-feedback{
     display: block;
   }
 }


}

.btn,
.form-control {
 @include hover-focus-active {
   box-shadow: none !important;
 }
}

//.modal-backdrop{
//  z-index: 10;
//}
.modal{
 //z-index: 20;

 &.show{
   display: block;
 }
}

.modal-content {
 border-color: transparent;
}

.modal-header {
 border-bottom: none;
 padding-bottom: 0;
}

.modal-title {
 font-size: 20px;
 font-weight: 500;
 color: $secondary;
 position: relative;
 padding-bottom: 10px;

 &::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 90px;
   height: 3px;
   background-color: $primary;
 }
}

.font-weight-medium {
 font-weight: 500 !important;
}

.alert {
 &.with-icon {
   padding-left: 40px;
   padding-right: 30px;
   position: relative;
 }
}

.alert-success {
 background-color: $success-bg;
 border-color: $success-border;
 color: $secondary;

 .icon-tick-rounded {
   position: absolute;
   top: 13px;
   left: 10px;
   font-size: 20px;
   color: $green-2;
 }

 .icon-close {
   position: absolute;
   top: 19px;
   right: 12px;
   font-size: 10px;
   color: rgba($secondary, .52);
 }
}

.custom-control {
 padding-left: 30px;
}

.custom-checkbox .custom-control-label {
 padding-top: 3px;

 &::before,
 &::after {
   width: 1.125rem;
   height: 1.125rem;
   left: -1.75rem;
 }

 &::before {
   //border-radius: 0;
 }
}


.tick-radio {

 &.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
   background-color: $green-2;
   border:1px solid  $green-2;
 }

 &.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
   background-image: none;
   content: '\e919';
   font-family: 'icomoon' !important;
   color: $white;
   top: -1px;
   font-size: 20px;
   text-align: center;
   font-weight: 100;
 }

 .custom-control-label::before {
   width: 1.25rem;
   height: 1.25rem;
   background-color: $white;
   border: 1px solid  $border-color;
 }
 .custom-control-label::after {
   width: 1.25rem;
   height: 1.25rem;
 }
}
