/* Mixins */

// padding mixins
@mixin hpad($gutter) {
  padding-left: $gutter + px;
  padding-right: $gutter + px;
}

@mixin vpad($pad) {
  padding-top: $pad + px;
  padding-bottom: $pad + px;
}


// margin mixins
@mixin hmar($mar) {
  margin-left: $mar + px;
  margin-right: $mar + px;
}

@mixin vmar($mar) {
  margin-top: $mar + px;
  margin-bottom: $mar + px;
}

// placeholder
@mixin placeholder($color) {

  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }
}