/* Variables */

// Colors
$primary:         #497de4;
//$secondary:       #36495c;
$secondary:       #00a63f;
$blue:            #2874F0;


$white:           #fff;
$black:           #292929;
$gray-fc:         #fcfcfc;
$gray-fd:         #fdfdfd;
$gray-f5:         #f5f5f5;
$gray-c:          #ccc;
$gray-b7:         #b7b7b7;
$gray-e:          #eee;
$gray-d2:         #d2d2d2;
$gray-ea:         #eaeaea;
$gray-e8:         #e8e8e8;
$gray-d5:         #d5d5d5;
$gray-5b:         #5b5b5b;
$gray-1d:         #1d1d1d;
$green:           #56a400;
$green-2:         #5fd080;
$red:             #ef5e42;
$yellow:          #ffdd00;
$link-color:      #4a90e2;
$pink:            #FF6C6C;
$gray-3:            #333333;

$light-text:      #979ca1;
$dark-text:       #232e3e;
$turquoise-green: #0bc6a0;
$light-bg:        #fdfdfd;

$banner-bg:       #1f2022;
$banner-btn-bg:   #f46a42;

$success-bg:      #e4faf6;
$success-border:  #9ae8d7;

$blue-bg:             #eef4fb;
$blue-border-color:   #88afdd;

$border-dark:     #858c92;
$border-light:    #ececec;
$border-wraning:  #FAC554;

$facebook:        #3b5998;
$twitter:         #1da1f2;
$linkedin:        #0077b5;
$google:          #F44336;

// Backgrounds
$body-bg:         $light-bg;
$light-bg:        #f8f8f9;
$light-bg2:       #f1f1f1;
//$sub-footer:      #304254;
$sub-footer:      #172337;
$cart-item-bg:    #f1f4fc;
$spinner-bg:      #dadee6;
$bg-warning:      #FFEAC0;
$bg-toast-error:  #ea5744;
$react-select-bg: #ecf1f6;

// box-shadow
$box-shadow : #5d5d5d;

// Typography
$base-font:       'Poppins', sans-serif;
$base-size:       16px;
$line-height:     1.5;
$body-text:       $light-text;

// Icon Fonts
$font-path:     '/fonts';
$font-slug:     '';

// Mobile Menu
$mobile-menu-width:  250;

// Currency
$currency:      'Rs. ';

// Screen Sizes
$screed-iphonex:  375px;
$screed-xxl:      1600px;
$screed-xxxl:     1920px;


// Bootstrap overrides
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "warning": $bg-warning
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px//,
  //xxl: 1600px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px//,
  //xxl: 1560px
) !default;

$input-border-color:    #e4e8e8;
$border-color:          #e4e8e8;

//$input-placeholder-color: $white;
$input-btn-focus-box-shadow:   none;
$border-radius: 3px;
$btn-focus-box-shadow:         none;
$btn-active-box-shadow:        none;

