@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,body{
  font-family: "Open Sans";
  background-color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

//section-1

.section-1{
    background: url("../assets/MainBanner.jpg") no-repeat;
    background-position-x: 70%;
    background-size: cover;
    text-align: left;
    color: #ffffff;

    .navbar-padding{
        padding-top: 150px;
        padding-bottom: 164px;
    }

    .fa.fa-navicon{
        color: #fff;
        font-size:30px; 
    }

    .navbar {
        width: 100%;
        background: none !important; 
    }

  .navbar .navbar-toggler {
      cursor: pointer;
      outline: 0; }
    .navbar .nav-link {
      font-weight: bold; }
    .navbar .nav-item {
      padding: 0 1rem; }
      
    
      #navbarSupportedContent > ul > li > a {
          font-size: 17px;
          font-weight: normal;
          text-align: left;
          color: #f5f4f2;
          opacity: 0.8;
          }

    .start-now{
            // width: 187px;
            height: 56px;
            border-radius: 56px;
            background-color: #497de4;
    }

    .start-now-text{
        // width: 93px;
        // height: 16px;
        // font-size: 19px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }
}

.section-2{
    background-color: #f5f4f2;

    .main-heading{
         font-weight: bold;
         color: #2e2d2d;
    }

    .sub-heading{
        font-size: 17px;
        line-height: 1.65;
        text-align: left;
        color: #000000;
    }
}

.section-3{
    background-image: linear-gradient(118deg, #254178, #0d2655), linear-gradient(to bottom, #497de4, #497de4);

    .main-heading{
        font-weight: bold;
        line-height: 1.82;
         color: #ffffff;
    }

    .sub-heading{
        font-size: 19px;
        line-height: 1.33;
        text-align: center;
        color: #ffffff;
    }

    .expert-1{
        background: url("https://placeimg.com/247/163/arch/grayscale") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 163px;
        position: relative;
    }

    .expert-max{
        background: url("https://placeimg.com/533/354/arch/grayscale") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 354px;
        position: relative;
    }

    .whatch-now{
        width: 160px;
        height: 48px;
        border-radius: 24px;
        box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
        background-color: #00a63f;
    }

    .whatch-now-text{
        font-size: 17px;
        font-weight: 500;
        text-align: left;
    }

    .service-center-text{
        bottom: 0%;position: absolute; width: 100%
    }

    .text-container{
        opacity: 0.5;
        background-color: rgba(0, 0, 0, 0.63);
    }

}

.section-4{
    .main-heading{
        font-size: 39.5px;
        font-weight: bold;
        line-height: 1.82;
        text-align: center;
        color: #2e2d2d;
    }
    .sub-heading{
        font-size: 19px;
        line-height: 1.58;
        text-align: center;
        color: #000000;
    }

    .line{
        width: 2px;
               height: 228px;
               background-color: #0d0d0d;
    }

    .sub-title{
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    .link-text{
        font-size: 56px;
        font-weight: bold;
        color: #00a63f;
    }

    .start-now-btn{
        width: 221px;
        height: 50px;
        border-radius: 44px;
        background-color: #00a63f;
    }

    .start-now-text{
        font-size: 22.5px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }

    .service-center-text{
        bottom: 10%;position: absolute; width: 100%;
    }

    .expert-bg{
        background: url("../assets/grp.png") no-repeat;
        background-position: center;
        background-size: cover;
        // background-size: 100% 100%;
        // background-position: cover;
        height: 700px ;
        position: relative;
    }
}

.section-5{
    .professionals-img{ 
        background: url('../assets/Expert_1.png') no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 218px;
        width: 216px;
        position: relative;
    }

    .service-center-text{
        bottom: 0%; left: 5%;position: absolute;
    }

    .sub-titles{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
      background-color: #f0ede9;
    }
    
    .fa-angle-right,.fa-angle-left{
      color: #000000;
      font-size: 30px;
    }

    .Ellipse-1 {
        width: 35px;
        height: 35px;
        box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
        background-color: #f0ede9;
      }
    
    
        .carousel-indicators li {
          width: 10px;
          height: 10px;
          // opacity: 0.5;
          border-radius: 100%;
          background-color: #000000;
        }
        .carousel-indicators {
            bottom: -50px;
    
            .active{
              background-color: #00a63f;
            }
        }
    
    

}
.section-6{

    .service-center-text{
        bottom: 10%;position: absolute; width: 100%;
    }

    .whatch-now-btn{
        width: 160px;
        height: 49px;
        border-radius: 24px;
        box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
        background-color: #e24a33;
        border: 0%;
    }


    .whatch-now-text{
        font-size: 17px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }

    .video_1{
        background-image: url('../assets/video_1.png');
        background-position: right; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 354px;
    }

    .video_2{
        background-image: url('../assets/video_2.png');
        background-position: right; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 354px;
    }

    .video_3{
        background-image: url('../assets/video_3-1.png');
        background-position: right; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 354px;
    }

    .video_4{
        background-image: url('../assets/video_3.png');
        background-position: right; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 354px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        // opacity: 0.5;
        border-radius: 100%;
        background-color: #000000;
      }
      .carousel-indicators {
          bottom: -50px;
  
          .active{
            background-color: #00a63f;
          }
      }

    
}
.section-7{
    .experts-view {
        font-size: 29.5px;
        font-weight: bold;
        line-height: 2.44;
        text-align: center;
        color: #497de4;
      }
    
      #carouselExampleIndicators{

    }

    .name-text{
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.1px;
        text-align: left;
        color: #000000;
    }
  
    .fa-angle-right,.fa-angle-left{
      color: #000000;
      font-size: 30px;
    }

    .carousel-control-prev{
        position: absolute; top: 80%; left:10%
    }

    .carousel-control-next{
        position: absolute; top: 80%; right:10%
    }
    

      .carousel-indicators li {
        width: 10px;
        height: 10px;
        // opacity: 0.5;
        border-radius: 100%;
        background-color: #000000;
     }
      .carousel-indicators {
          bottom: -50px;
  
          .active{
            background-color: #497de4;
          }
      }
  
}

.section-8{
    background-color: #2d2d2d;
}

.section-9{

}

.section-10{
    background-color: #00a63f;

    .mobile-number{
        border: none;
        width: 30%;
        height: 56px;
        border-radius: 27px 0px 0px 27px;
        background-color: #ffffff;
      }
      .call-me-back{
        width: 30%;
        height: 56px;
        border-radius: 0px 27px 27px 0px;
        background-color: #000000;
      }
      .call-me-back-text {
        font-weight: 500;
        text-align: left;
        color: #ffffff;
      }
    
      ::placeholder {
        padding-left: 10px;
        opacity: 0.8;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.49;
        letter-spacing: 0.1px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8); /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        padding-left: 10px;
        opacity: 0.8;
      // font-size: 20.5px;
      // font-size: 1vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.49;
      letter-spacing: 0.1px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        padding-left: 10px;
        opacity: 0.8;
      // font-size: 20.5px;
      // font-size: 1vw;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.49;
      letter-spacing: 0.1px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
      }
}

.section-11{
    background-color: #545454;

    .copy-right{
        opacity: 0.7;
        font-size: 15.5px;
        line-height: 2.1;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.7);
     }

     .privacy{
        opacity: 0.7;
        font-size: 15.5px;
        line-height: 2.1;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.7);
        }
}