@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: "Open Sans";
  background-color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.section-1 {
  background: url("../assets/MainBanner.jpg") no-repeat;
  background-position-x: 70%;
  background-size: cover;
  text-align: left;
  color: #ffffff;
}

.section-1 .navbar-padding {
  padding-top: 150px;
  padding-bottom: 164px;
}

.section-1 .fa.fa-navicon {
  color: #fff;
  font-size: 30px;
}

.section-1 .navbar {
  width: 100%;
  background: none !important;
}

.section-1 .navbar .navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.section-1 .navbar .nav-link {
  font-weight: bold;
}

.section-1 .navbar .nav-item {
  padding: 0 1rem;
}

.section-1 #navbarSupportedContent > ul > li > a {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  color: #f5f4f2;
  opacity: 0.8;
}

.section-1 .start-now {
  height: 56px;
  border-radius: 56px;
  background-color: #497de4;
}

.section-1 .start-now-text {
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.section-2 {
  background-color: #f5f4f2;
}

.section-2 .main-heading {
  font-weight: bold;
  color: #2e2d2d;
}

.section-2 .sub-heading {
  font-size: 17px;
  line-height: 1.65;
  text-align: left;
  color: #000000;
}

.section-3 {
  background-image: linear-gradient(118deg, #254178, #0d2655), linear-gradient(to bottom, #497de4, #497de4);
}

.section-3 .main-heading {
  font-weight: bold;
  line-height: 1.82;
  color: #ffffff;
}

.section-3 .sub-heading {
  font-size: 19px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.section-3 .expert-1 {
  background: url("https://placeimg.com/247/163/arch/grayscale") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 163px;
  position: relative;
}

.section-3 .expert-max {
  background: url("https://placeimg.com/533/354/arch/grayscale") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 354px;
  position: relative;
}

.section-3 .whatch-now {
  width: 160px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #00a63f;
}

.section-3 .whatch-now-text {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.section-3 .service-center-text {
  bottom: 0%;
  position: absolute;
  width: 100%;
}

.section-3 .text-container {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.63);
}

.section-4 .main-heading {
  font-size: 39.5px;
  font-weight: bold;
  line-height: 1.82;
  text-align: center;
  color: #2e2d2d;
}

.section-4 .sub-heading {
  font-size: 19px;
  line-height: 1.58;
  text-align: center;
  color: #000000;
}

.section-4 .line {
  width: 2px;
  height: 228px;
  background-color: #0d0d0d;
}

.section-4 .sub-title {
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.section-4 .link-text {
  font-size: 56px;
  font-weight: bold;
  color: #00a63f;
}

.section-4 .start-now-btn {
  width: 221px;
  height: 50px;
  border-radius: 44px;
  background-color: #00a63f;
}

.section-4 .start-now-text {
  font-size: 22.5px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.section-4 .service-center-text {
  bottom: 10%;
  position: absolute;
  width: 100%;
}

.section-4 .expert-bg {
  background: url("../assets/grp.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  position: relative;
}

.section-5 .professionals-img {
  background: url("../assets/Expert_1.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 218px;
  width: 216px;
  position: relative;
}

.section-5 .service-center-text {
  bottom: 0%;
  left: 5%;
  position: absolute;
}

.section-5 .sub-titles {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.section-5 .carousel-control-prev-icon,
.section-5 .carousel-control-next-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
          box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
  background-color: #f0ede9;
}

.section-5 .fa-angle-right, .section-5 .fa-angle-left {
  color: #000000;
  font-size: 30px;
}

.section-5 .Ellipse-1 {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
          box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
  background-color: #f0ede9;
}

.section-5 .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000000;
}

.section-5 .carousel-indicators {
  bottom: -50px;
}

.section-5 .carousel-indicators .active {
  background-color: #00a63f;
}

.section-6 .service-center-text {
  bottom: 10%;
  position: absolute;
  width: 100%;
}

.section-6 .whatch-now-btn {
  width: 160px;
  height: 49px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #e24a33;
  border: 0%;
}

.section-6 .whatch-now-text {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.section-6 .video_1 {
  background-image: url("../assets/video_1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_2 {
  background-image: url("../assets/video_2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_3 {
  background-image: url("../assets/video_3-1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_4 {
  background-image: url("../assets/video_3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000000;
}

.section-6 .carousel-indicators {
  bottom: -50px;
}

.section-6 .carousel-indicators .active {
  background-color: #00a63f;
}

.section-7 .experts-view {
  font-size: 29.5px;
  font-weight: bold;
  line-height: 2.44;
  text-align: center;
  color: #497de4;
}

.section-7 .name-text {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
}

.section-7 .fa-angle-right, .section-7 .fa-angle-left {
  color: #000000;
  font-size: 30px;
}

.section-7 .carousel-control-prev {
  position: absolute;
  top: 80%;
  left: 10%;
}

.section-7 .carousel-control-next {
  position: absolute;
  top: 80%;
  right: 10%;
}

.section-7 .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000000;
}

.section-7 .carousel-indicators {
  bottom: -50px;
}

.section-7 .carousel-indicators .active {
  background-color: #497de4;
}

.section-8 {
  background-color: #2d2d2d;
}

.section-10 {
  background-color: #00a63f;
}

.section-10 .mobile-number {
  border: none;
  width: 30%;
  height: 56px;
  border-radius: 27px 0px 0px 27px;
  background-color: #ffffff;
}

.section-10 .call-me-back {
  width: 30%;
  height: 56px;
  border-radius: 0px 27px 27px 0px;
  background-color: #000000;
}

.section-10 .call-me-back-text {
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.section-10 ::-webkit-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-10 :-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-10 ::-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-10 ::placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-10 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.section-10 ::-ms-input-placeholder {
  /* Microsoft Edge */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.section-11 {
  background-color: #545454;
}

.section-11 .copy-right {
  opacity: 0.7;
  font-size: 15.5px;
  line-height: 2.1;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}

.section-11 .privacy {
  opacity: 0.7;
  font-size: 15.5px;
  line-height: 2.1;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}
/*# sourceMappingURL=demand_landing.css.map */