@media only screen and (max-width: 768px) {
  .remove-responsive {
    display: none;
  }
  .section-3 .remove-responsive {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .section-1 .navbar .nav-item {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 992px) {
  .section-11 .footer-desktop {
    display: none;
  }
  .expert-image {
    height: 150px;
    width: 150px;
  }
  .section-3 .remove-responsive {
    display: none;
  }
  .section-3 .rating {
    border-radius: 5px;
    background-color: #5ca829;
    height: auto;
  }
  .section-3 .rating-text {
    font-size: 20px;
    color: #ffffff;
  }
  .section-3 .review {
    border-radius: 5px;
    background-color: #353a58;
    height: auto;
  }
  .section-3 .request-call-btn {
    width: 50%;
  }
  .section-3 .request-call-text {
    font-size: 19px;
  }
}

@media only screen and (max-width: 576px) {
  .expert-image {
    height: 90px;
    width: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .footer-mobile {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .section-3 .expert-image {
    height: 276px;
    width: 276px;
  }
  .section-3 .show-responsive {
    display: none;
  }
  .section-3 .rating {
    height: auto;
  }
}

@media only screen and (max-width: 1275px) {
  .request-call-btn {
    width: 45%;
  }
  .request-call-text {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 1275px) {
  .request-call-btn {
    width: 206px;
    height: 51px;
    border-radius: 24.5px;
    -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
    background-color: #497de4;
  }
  .request-call-text {
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
  }
}
/*# sourceMappingURL=expert_listing_mobile.css.map */