@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: "Open Sans";
  background-color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.section-1 .navbar {
  width: 100%;
  background: none !important;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.section-1 .navbar-padding {
  padding-top: 150px;
  padding-bottom: 164px;
}

.section-1 .fa.fa-navicon {
  font-size: 25px;
}

.section-1 .navbar {
  width: 100%;
  -webkit-box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.section-1 .navbar-toggler-icon {
  color: #000000;
}

.section-1 .navbar .navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.section-1 .navbar .nav-link {
  font-weight: bold;
}

.section-1 .navbar .nav-item {
  padding: 0 1rem;
}

.section-1 #navbarSupportedContent > ul > li > a {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  opacity: 0.8;
}

.section-1 #navbarSupportedContent > ul > li .active {
  color: #3b7ded;
}

.section-1 .search-icon {
  color: #545454;
}

.section-2 {
  -webkit-box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
  background-color: #353a58;
}

.section-2 .service {
  margin: 20px;
  width: 145px;
  height: 105px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 9.4px 0.6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 9.4px 0.6px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.section-2 .service-title {
  font-size: 16.5px;
  letter-spacing: normal;
  color: #010101;
}

.section-3 {
  -webkit-box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
  background-color: #f3f6f9;
}

.section-3 .rect {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 7.4px 0.6px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 7.4px 0.6px rgba(0, 0, 0, 0.08);
  border: solid 1px rgba(153, 153, 153, 0.3);
  background-color: #ffffff;
}

.section-3 .info-link {
  opacity: 0.5;
  border-radius: 15.5px;
  border: solid 1px #727272;
  background-color: #ffffff;
}

.section-3 .content-justify {
  text-align: justify;
  text-justify: inter-word;
}

.section-3 .rating {
  border-radius: 5px;
  background-color: #5ca829;
  height: auto;
}

.section-3 .rating-text {
  color: #ffffff;
}

.section-3 .review {
  border-radius: 5px;
  background-color: #353a58;
  height: auto;
}

.section-3 .request-call-btn {
  height: 51px;
  border-radius: 24.5px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #497de4;
}

.section-3 .request-call-text {
  font-weight: 500;
  color: #ffffff;
}

.section-3 .draw-round {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0 0 4.8px 0.2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 4.8px 0.2px rgba(0, 0, 0, 0.07);
  border: solid 1px rgba(169, 169, 169, 0.35);
  background-color: #ffffff;
}

.section-3 .main-heading {
  font-size: 34.5px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.section-3 .sub-heading {
  opacity: 0.8;
  font-size: 17px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.section-3 .main-title {
  font-size: 32.5px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.section-3 .sub-title {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.section-3 .gray-text {
  font-size: 17px;
  text-align: center;
  color: #5c5c5c;
}

.section-3 .hours {
  font-size: 17px;
  text-align: center;
  color: #444444;
}

.section-3 .message-icon {
  opacity: 0.7;
}

.section-11 {
  background-color: #545454;
}

.section-11 .copy-right {
  opacity: 0.7;
  font-size: 15.5px;
  line-height: 2.1;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}

.section-11 .privacy {
  opacity: 0.7;
  font-size: 15.5px;
  line-height: 2.1;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}

.footer-mobile {
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.footer-text {
  font-size: 45.5px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}
/*# sourceMappingURL=expert_listing.css.map */