@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,body{
  font-family: "Open Sans";
  background-color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}


.section-1{

    .navbar {
        width: 100%;
        background: none !important; 
        box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;

    }

    .navbar-padding{
        padding-top: 150px;
        padding-bottom: 164px;
    }

    .fa.fa-navicon{
        // color: #fff;
        font-size:25px; 
    }

    .navbar {
        width: 100%;
        box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
    }

    .navbar-toggler-icon{
        color: #000000;
    }

    .navbar .navbar-toggler {
      cursor: pointer;
      outline: 0; }
    .navbar .nav-link {
      font-weight: bold; }
    .navbar .nav-item {
      padding: 0 1rem; }

    #navbarSupportedContent > ul > li > a {
          font-size: 17px;
          font-weight: normal;
          text-align: left;
          color: #000000;
          opacity: 0.8;
    }

    #navbarSupportedContent > ul > li {
        .active{
            color: #3b7ded;
        }
    }  
    .search-icon{
        color: #545454;
    }
}

.section-2{
    box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
    background-color: #353a58;

    .service{
            margin: 20px;
            width: 145px;
            height: 105px;
            border-radius: 3px;
            box-shadow: 0 0 9.4px 0.6px rgba(0, 0, 0, 0.09);
            background-color: #ffffff;
    }

    .service-title{
        font-size: 16.5px;
        letter-spacing: normal;
        color: #010101;
    }
}

.section-3{
    box-shadow: 0 0 11.3px 0.7px rgba(0, 0, 0, 0.12);
  background-color: #f3f6f9;

  .rect{
    border-radius: 4px;
    box-shadow: 0px 2px 7.4px 0.6px rgba(0, 0, 0, 0.08);
    border: solid 1px rgba(153, 153, 153, 0.3);
    background-color: #ffffff;
  }

  .info-link{
    opacity: 0.5;
    border-radius: 15.5px;
    border: solid 1px #727272;
    background-color: #ffffff;
  }

  .content-justify{
    text-align: justify;
    text-justify: inter-word;
  }

  .rating{
    // width: 108px;
    // height: 63px;
     border-radius: 5px;
    background-color: #5ca829;
    height: auto;
  }

  .rating-text{
    
    color: #ffffff;
  }

  .review{
    // height: 63px;
    border-radius: 5px;
    background-color: #353a58;
    height: auto;
  }

  .request-call-btn{
    // width: 206px;
    height: 51px;
    border-radius: 24.5px;
    box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
    background-color: #497de4;
  }

  .request-call-text{
    // font-size: 19px;
    font-weight: 500;
    color: #ffffff;
  }

  .draw-round{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 4.8px 0.2px rgba(0, 0, 0, 0.07);
    border: solid 1px rgba(169, 169, 169, 0.35);
    background-color: #ffffff;
    // background-color: plum;
  }

  .main-heading{
    font-size: 34.5px;
    font-weight: 500;
    text-align: left;
    color: #000000;
  }

  .sub-heading{
      opacity: 0.8;
     font-size: 17px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
  }

  .main-title{
    font-size: 32.5px;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }

  .sub-title{
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #000000;

  }

  .gray-text{
    font-size: 17px;
    text-align: center;
    color: #5c5c5c;
  }

  .hours{
    font-size: 17px;
    text-align: center;
    color: #444444;
  }

  .message-icon{
    opacity: 0.7;
  }
}

.section-11{
    background-color: #545454;

    .copy-right{
        opacity: 0.7;
        font-size: 15.5px;
        line-height: 2.1;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.7);
     }

     .privacy{
        opacity: 0.7;
        font-size: 15.5px;
        line-height: 2.1;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.7);
        }

       
}

.footer-mobile{
  // position: fixed;
  box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.25), 0px 2px 13px 0 rgba(0, 0, 0, 0.12);
 background-color: #ffffff;
 }

 .footer-text{
  font-size: 45.5px;
  font-weight: 500;
  text-align: left;
  color: #000000;
 }