@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: "Open Sans";
  background-color: #ffffff;
}

.section-1 {
  background-color: blue;
}

.section-1 .logo {
  margin-top: 1.8%;
  margin-left: 2.9%;
}

.section-1 .main-heading {
  padding-top: 8.4%;
  padding-left: 14.1%;
}

.section-1 .servises-background {
  /* width: 308px; */
  height: 169px;
  opacity: 0.25;
  border-radius: 4px;
  background-color: #000000;
}

.section-1 .icon {
  height: 55px;
  width: 58px;
  background-color: white;
}

.section-1 .sub-heading {
  width: auto;
  padding-top: 36px;
  height: 21px;
  font-size: 21px;
  font-weight: 50px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #f5f4f2;
}

.section-1 .normal-text {
  padding-top: 19px;
  padding-left: 22px;
  height: 37px;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 0.1px;
  text-align: left;
  color: #f5f4f2;
}

@media (max-width: 575px) {
  .section-1 .remove-next {
    display: none;
  }
}

@media (max-width: 992px) {
  .section-1 .remove-responsive {
    display: none;
  }
  .section-1 .main-heading {
    padding-top: 20%;
    font-size: 4vw;
    text-align: center;
    padding-left: 0%;
  }
  .section-1 .section-1 {
    text-align: center !important;
  }
}

.section-2 .main-heading {
  padding-top: 129px;
  width: auto;
  height: 44px;
  /* font-family: GoogleSans; */
  font-size: 43.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.section-2 .input-email {
  width: 66%;
  height: 53px;
  opacity: 0.5;
  border-radius: 4px;
  border: solid 1px #b8b8b8;
  background-color: #ffffff;
}

.section-2 .input-password {
  width: 66%;
  height: 53px;
  opacity: 0.5;
  border-radius: 4px;
  border: solid 1px #b8b8b8;
  background-color: #ffffff;
}

.section-2 .login-btn {
  width: 186px;
  height: 54px;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #497de4;
}

.section-2 .login-btn-text {
  width: 54px;
  height: 20px;
  /* font-family: GoogleSans; */
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-2 .blue-link {
  width: 157px;
  height: 19px;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #497de4;
}

.section-2 ::-webkit-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-size: 20.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-2 :-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-size: 20.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-2 ::-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-size: 20.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-2 ::placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-size: 20.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-2 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  width: 61px;
  height: 15px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

.section-2 ::-ms-input-placeholder {
  /* Microsoft Edge */
  width: 61px;
  height: 15px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #292929;
}

@media (max-width: 992px) {
  .section-2 .main-heading {
    padding-top: 20%;
    font-size: 4vw;
    text-align: center;
    padding-left: 0%;
  }
}

.footer {
  background-color: #545454;
}

.footer .logo {
  padding-top: 17px;
  padding-bottom: 25px;
  /* padding-left: 128px */
}

.footer .copy-right {
  padding-top: 35px;
  padding-bottom: 30px;
  /* padding-left: 179px; */
  /* width: 117px; */
  height: 16px;
  opacity: 0.7;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.footer .privacy {
  padding-top: 34px;
  padding-bottom: 31px;
  /* width: 238px; */
  height: 16px;
  opacity: 0.7;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.sign-up {
  /* width: 386px; */
  height: 20px;
  /* font-family: GoogleSans; */
  font-size: 19.5px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

span.tab-space {
  padding-left: 2em;
}

@media (max-width: 991px) {
  .privacy {
    display: none;
  }
}
/*# sourceMappingURL=loginbackup.css.map */