
@media only screen and (max-width: 768px) {
    .section-1{
        .logo{
            width:311px;
            height: 111px;
       }
        h1{
            font-size: 2rem;
        }
        .main-header{
            margin-left: 12%;
            margin-top: 68px;
            font-size: 50px;
        }

        .remove-responsive{
            display: none;
        }
      
      }

      .section-2{
        h1{
            font-size: 2rem;
        }
      }


      .footer-desktop{
            display: none;
        }
}

@media only screen and (min-width: 768px) {
    .footer-mobile{
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    .section-1{
        .logo{
            width:100%;
            height:100%
        }

        .remove-next{
            display: none;
        }

        .main-header{
            font-size: 10vw;
        }

        h2, .normal-text, .i{
            font-size: 10vw;
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-1{
        .remove-next{
            display: none;
        }

        .servises-background{
            width: 100%;
        }
    }

    .section-2{

        .radio-label,.blue-link{
            font-size: 3.5vw;
        }
    }

   
}

@media only screen and (max-width: 992px) {

   

    .footer-responsive{
        display: none;
    }

    .section-1{
    
        .remove-responsive{
            display: none;
        }
      
      }

      .section-2{
    
        .remove-responsive{
            display: none;
        }
      
      }

      .footer{
          .privacy{
              display: none;
          }
      }
}


