@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,body{
  font-family: "Open Sans";
  background-color: #ffffff;
}

//section-1

.section-1{
  background: url("../assets/MainBanner.jpg") no-repeat;
  background-position-x: 70%;
  background-size: cover;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  .navbar-padding{
    padding-top: 150px;
    padding-bottom: 164px;
  }

  .fa.fa-navicon{
    color: #fff;
    font-size:30px; 
  }

  .navbar {
    width: 100%;
    background: none !important; 
  }

  .navbar .navbar-toggler {
      cursor: pointer;
      outline: 0; }
    .navbar .nav-link {
      font-weight: bold; }
    .navbar .nav-item {
      padding: 0 1rem; }
      
      @media (max-width: 34em) {
        .navbar {
          background: none; }}

      @media (max-width: 890px) {
        .navbar .nav-item {
          padding: 0 5px } }

      @media (max-width: 34em) {
        .navbar .nav-item .nav-link {
          padding-left: 25px;
          font-weight: normal;
          color: #fff !important; } }
      
      #navbarSupportedContent > ul > li > a {
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #f5f4f2;
          opacity: 0.8;
          }

          .Rounded-Rectangle-9 {
            // width: 227px;
            height: 56px;
            border-radius: 27px;
            box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
            background-color: #497de4;
          }

          .sign-up-btn {
            // width: 107px;
            height: 36px;
            border-radius: 18px;
            border: solid 1px #f5f4f2;
            background-color:transparent;
          }

      .Sign-Up {
            width: auto;
            height: 18px;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }

      .main-heading{
           // font-size: 53px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
          }

      .sub-heading{
            padding-top: 0%;
            text-align: center;
            color: #ffffff;
          }
        
          
      .Rounded-Rectangle-1 {
        width: auto;
        height: 56px;
        border-radius: 27px;
        box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
        background-color: #497de4;
      }

      .Start-Free-Trial {
        width: 133px;
        // height: 16px;
        // font-family: GoogleSans;
        // font-size: 19px;
        font-weight: 500;
        color: #ffffff;
      } 
}

@media (max-width: 767px) {
  .navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 

  .Rounded-Rectangle-9 {
    width: auto;
  }

  .main-heading{
    font-size: 7vw;
  }

  .sub-heading{
    font-size: 3vw;
  }

  .Start-Free-Trial {
    font-size: 6vw;
  }

  .navbar-padding{
    padding-top: 150px
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

  .Rounded-Rectangle-9 {
    width: 227px;
  }
  

  .Start-Free-Trial {
    font-size: 19px;
  }

 
    .main-heading{
      font-size: 40px;
    }
    .sub-heading{
      font-size: 25px;
    }
    .navbar-padding{
      padding-top: 150px
    }

  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
 

  .main-heading{
    font-size: 53px;
  }

  .navbar-padding{
    padding-top: 240px
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .navbar-padding{
    padding-top: 240px
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 
}




  
 
  

  


.section-2{
  background-color: #f5f4f2;

  .main-heading{
      height: 31px;
      font-family: Open Sans;
      font-size: 39.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      text-align: left;
      color: #2e2d2d;
  }

  .sub-heading{
      height: 241px;
      font-family: Open Sans;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
  }
}

.Layer-46 {
  height: 321px; 
}

.Rectangle-6 {
  // height: 321px;
  background: url("../assets/AboutUs_Video.jpg") no-repeat;
  background-size: 100% 100%;
  // object-fit: cover;
  background-position: center;
 }

.section-3 {
  background-image: linear-gradient(118deg, #254178, #0d2655);

  .main-heading {
      width: auto;
      // height: 55px;
      // font-size: 71.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #f5f4f2;
    }

    .sub-heading{
      width: auto;
      // height: 90px;
      // font-size: 39px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    // Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
  .main-heading{
    font-size: 7vw;
  }

  .sub-heading{
    font-size: 3vw;
  }


  .navbar-padding{
    padding-top: 150px
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .main-heading{
      font-size: 40px;
    }
    .sub-heading{
      font-size: 15px;
    }
    .navbar-padding{
      padding-top: 150px
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
 
  .main-heading{
    font-size: 53px;
  }

  .navbar-padding{
    padding-top: 240px
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .navbar-padding{
    padding-top: 240px
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 
}

    .services_1{
      background: url("../assets/services_1.png") no-repeat;
      background-size: 100% 100%;
      background-position: center;
      height: 329px;
      position: relative;

      .Talk-to-Expert {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.76;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }

    .services_2{
      background: url("../assets/services_2.png") no-repeat;
      background-size: 100% 100%;
      background-position: center;
      height: 335px;

      .Talk-to-Expert {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.76;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }

    .services_3{
      background: url("../assets/services_3.png") no-repeat;
      background-size: 100% 100%;
      background-position: center;
      height: 329px;

      .Talk-to-Expert {
        // width: 312px;
        // height: 46px;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.76;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
}


.section-5{
  background-image: url('../assets/BecomeExperts_image.png');
  background-position: 90%; 
  background-repeat: no-repeat;
  background-size: 30% 100%;

  .main-heading{
      width: auto;
      // height: 38px;
      font-size: 39.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      text-align: left;
      color: #2e2d2d;
  }

  .sub-heading{
      width: auto;
      // height: 20px;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
  }

  .normal-text{
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.53;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
  }

  @media (max-width: 992px) {
    .normal-text{
     display:none;
    }
    // .main-heading{
    //   width: 60%
    // }

    // .sub-heading{
    //   width: 40%
    // }
    // .section-5{
    //   background-position: 20px; 
    //   background-size: 100% 100%;
    // }
  }

  .Rounded-Rectangle-1-copy-5 {
      // width: 201px;
      // height: 56px;
      border-radius: 27px;
      background-color: #00a63f;
    }
    
    .Apply-Now {
      width: 102px;
      // height: 20px;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
}
@media (max-width: 992px) {
.section-5{
  background-size: 60% 100%;
}
}

.section-6{
h3{
  // width: 367px;
  // height: 27px;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
}



button{
    // width: 533px;
    height: 354px;
    border-radius: 5px;
    box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.05);
    background-color: #865757;
    width: 160px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
    background-color: #e24a33;
  }

  span{
    // width: 97px;
    // height: 15px;
    // font-family: GoogleSans;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

.video_1{
  background-image: url('../assets/video_1.png');
  background-position: right; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;

  p{
    // width: 417px;
    // height: 17px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
}
.video_2{
  background-image: url('../assets/video_2.png');
  background-position: right; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
  p{
    // width: 417px;
    // height: 17px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
.video_3{
  background-image: url('../assets/video_3-1.png');
  background-position: right; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;

  p{
    // width: 417px;
    // height: 17px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
.video_4{
  background-image: url('../assets/video_3.png');
  background-position: right; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;

  p{
    // width: 417px;
    // height: 17px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}
}

.section-7{

  #carouselExampleIndicators{

  }
    .carousel-indicators li {
      width: 10px;
      height: 10px;
      // opacity: 0.5;
      border-radius: 100%;
      background-color: #000000;
   }
    .carousel-indicators {
        bottom: -50px;

        .active{
          background-color: #497de4;
        }
    }

 .work-bg{
    width: 733px;
    height: 487px;
    background-image: url('../assets/HowItWorks_image.png');
    background-position: right; 
    background-repeat: no-repeat;
    object-fit: cover;

    p{
      width: auto;
      height: 63px;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.1px;
      text-align: center;
      color: #ffffff;
    }

    button{
      width: 160px;
      height: 48px;
      border-radius: 24px;
      background-color: #497de4;
    }

    span{
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

   
 }


.normal-text{
  width: 549px; 
   margin-left: auto;
     margin-right: auto; 
      text-align: left;
  // height: 96px;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
}


@media (max-width: 768px) {
  .normal-text{
    width: 300px;
  }

  .carousel-item {
    height: 650px;
}
}

@media (max-width: 450px) {
  .normal-text{
    padding: 0%;
    width: 100%;
  }

  .carousel-item {
    height: 750px;
}
}


 
}


.section-8{
  background-color: #e8e8e8;

  

  .main-heading{
      // width: 686px;
      // height: 140px;
      // font-family: GoogleSans;
    // font-size: 72px;
    font-size: 40.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }

  .sub-heading{
    // width: 901px;
    // height: 86px;
    // font-family: GoogleSans;
    // font-size: 38px;
    font-size: 20.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
  }

  .mobile-number{
    border: 0%;
    width: 30%;
    height: 56px;
    border-radius: 27px 0px 0px 27px;
    background-color: #ffffff;
  }
  .call-me-back{
    width: 30%;
    height: 56px;
    // border-radius: 27px;
    border-radius: 0px 27px 27px 0px;
    background-color: #00a63f;  
  }
  .call-me-back-text {
    // width: 118px;
    // height: 16px;
    // font-family: GoogleSans;
    // font-size: 1vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  ::placeholder {
    padding-left: 10px;
    opacity: 0.8;
    // font-size: 1vw;
    // font-size: 20.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8); /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 10px;
    opacity: 0.8;
  // font-size: 20.5px;
  // font-size: 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    padding-left: 10px;
    opacity: 0.8;
  // font-size: 20.5px;
  // font-size: 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  }
  
  .show-xs-flex{
    display: none;
  }
}

@media (max-width: 991px) {

  .call-me-back-text {
    font-size: 3vw;
  }

  ::placeholder {
    font-size: 3vw;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 3vw;
  
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 3vw;
  }
  
}


@media (min-width: 992px) {
  .section-8{
    background-image: url('../assets/KnowMore_person.png');
    background-position: 25%; 
    background-repeat: no-repeat;
    background-size: 25% 80%;
  }

  .call-me-back-text {
    font-size: 1vw;
  }

  ::placeholder {
    font-size: 1vw;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1vw;
  
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 1vw;
  }
}




.section-4{

  #carouselExampleIndicators{

  }
    .main-heading{
      // height: 25px;
      font-size: 26px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      position: absolute;
      bottom:15%;
      left:10%
    }

    .sub-heading{
      // height: 17px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.59;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      position: absolute;
      bottom:1%;
       left:10%
    }
    
    .carousel-item {
        height: 350px;
    }
    
    .Ellipse-1 {
      width: 35px;
      height: 35px;
      box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
      background-color: #f0ede9;
    }

   

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
  background-color: #f0ede9;
}

.fa-angle-right,.fa-angle-left{
  color: #000000;
  font-size: 30px;
}


    .carousel-indicators li {
      width: 10px;
      height: 10px;
      // opacity: 0.5;
      border-radius: 100%;
      background-color: #000000;
    }
    .carousel-indicators {
        bottom: -50px;

        .active{
          background-color: #00a63f;
        }
    }

  .experts-1{
    background-image: url('../assets/Expert_1.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    height: 351px;
    max-width:100%;
  }

  .experts-2{
    background-image: url('../assets/Expert_2.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    height: 351px;
    max-width:100%;
  }

  .experts-3{
    background-image: url('../assets/Expert_3.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    height: 351px;
    max-width:100%;
  }

  .experts-4{
    background-image: url('../assets/Expert_4.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    height: 351px;
    max-width:100%;
  }
}



.section-9{
  background-color: #545454;

  .footer-text-main{
    // width: 52px;
    // height: 15px;
    // font-family: GoogleSans;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .footer-text-sub{
  //   width: 124px;
  // height: 51px;
  opacity: 0.6;
  // font-family: GoogleSans;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.23;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  }
  .Copy-right-2019 {
    // width: 256px;
    // height: 33px;
    opacity: 0.6;
    // font-family: GoogleSans;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.17;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 768px) {
  .section-9{
  .remove-in-sm{
    display: none;
  }

  }
}