html,body{
    font-family: "Open Sans";
  }
  
  .section-1{
    background: url("../assets/MainBanner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  }
  .fa.fa-navicon{
    color: #fff;
    font-size:45px; 
  }
  .navbar {
    width: 100%;
    background: none !important; 
  }
  
  // @media (min-width: 34em) {
  //       .navbar{
  //       .navbar-brand {
  //           .logo{
  //             position: absolute;
  //               width: 138px;
  //               height: 50px;
  //           }
  //       }
  //     }
  //   }
  
  
  
  // @media (max-width: 34em) {
  //   .navbar{
  // .navbar-brand {
  //     .logo{
  //       padding-top: 20px;
  //       // position: relative;
  //         width: 138px;
  //         height: 60px;
  //         top: 50%;
  //         left:50%;
  //         transform: translate(-50%,-50%);
  //     }
  // }
  // }
  // }
    
   
    @media (max-width: 34em) {
      .navbar {
        background: none; } 
      }
    .navbar .navbar-toggler {
      cursor: pointer;
      outline: 0; }
    .navbar .nav-link {
      font-weight: bold; }
    .navbar .nav-item {
      padding: 0 1rem; }
      @media (max-width: 34em) {
        .navbar .nav-item {
          padding: 0; } }
      @media (max-width: 34em) {
        .navbar .nav-item .nav-link {
          padding-left: 20px;
          font-weight: normal;
          color: #fff !important; } }
        
        #navbarSupportedContent > ul > li > a {
            width: auto;
            height: auto;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f5f4f2;
           }
  
           .Rounded-Rectangle-1-copy {
            width: 107px;
            height: 36px;
            border-radius: 18px;
            border: solid 1px #f5f4f2;
            background: transparent;
          }
  
          .Sign-Up {
            font-family: "Open Sans";
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
  
          .navbar-toggler{
            background-color: white;
          }
  
          .main-heading{
            font-size: 53px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }
  
          .sub-heading{
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }
        
          
  .Rounded-Rectangle-1 {
    width: 227px;
    height: 56px;
    border-radius: 27px;
    box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
    background-color: #497de4;
  }
  
  .Start-Free-Trial {
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  } 
  
  
  .section-2{
    background-color: #f5f4f2;
  
    .main-heading{
        height: 31px;
        font-family: Open Sans;
        font-size: 39.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: normal;
        text-align: left;
        color: #2e2d2d;
    }
  
    .sub-heading{
        height: 241px;
        font-family: Open Sans;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
  }
  
  .Layer-46 {
    height: 321px; 
  }
  
  .Rectangle-6 {
    // height: 321px;
    background: url("../assets/AboutUs_Video.jpg") no-repeat;
    // background-size: cover;
    object-fit: cover;
    background-position: center;
   }
  
  .section-3 {
    background-image: linear-gradient(118deg, #254178, #0d2655);
  
    .main-heading {
        width: auto;
        // height: 55px;
        font-size: 71.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #f5f4f2;
      }
  
      .sub-heading{
        width: auto;
        // height: 90px;
        font-family: Open Sans;
        font-size: 39px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
  
      .services_1{
        background: url("../assets/services_1.png") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 329px;
  
        .Talk-to-Expert {
          font-size: 25px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.76;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }
  
      .services_2{
        background: url("../assets/services_2.png") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 335px;
  
        .Talk-to-Expert {
          font-size: 25px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.76;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }
  
      .services_3{
        background: url("../assets/services_3.png") no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 329px;
  
        .Talk-to-Expert {
          // width: 312px;
          // height: 46px;
          font-size: 25px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.76;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }
  }
  
  
  .section-5{
    background-image: url('../assets/BecomeExperts_image.png');
    background-position: 90%; 
    background-repeat: no-repeat;
    background-size: 30% 100%;
  
    .main-heading{
        width: auto;
        height: 38px;
        font-size: 39.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: normal;
        text-align: left;
        color: #2e2d2d;
    }
  
    .sub-heading{
        width: auto;
        // height: 20px;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
  
    .text-block{
        width: 607px;
        height: 147px;
    }
  
    .normal-text{
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
  
    @media (max-width: 992px) {
      .normal-text{
       display:none;
      }
    }
  
    .Rounded-Rectangle-1-copy-5 {
        width: 201px;
        height: 56px;
        border-radius: 27px;
        background-color: #00a63f;
      }
      
      .Apply-Now {
        width: 102px;
        height: 20px;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
  }
  @media (max-width: 992px) {
  .section-5{
    background-size: 60% 100%;
  }
  }
  
  .section-6{
  h3{
    // width: 367px;
    // height: 27px;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }
  
  
  
  button{
      width: 533px;
      height: 354px;
      border-radius: 5px;
      box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.05);
      background-color: #865757;
      width: 160px;
      height: 48px;
      border-radius: 24px;
      box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
      background-color: #e24a33;
    }
  
    span{
      // width: 97px;
      // height: 15px;
      // font-family: GoogleSans;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  
  .video_1{
    background-image: url('../assets/video_1.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
  
    p{
      // width: 417px;
      // height: 17px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    
  }
  .video_2{
    background-image: url('../assets/video_2.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
  
    p{
      // width: 417px;
      // height: 17px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
  .video_3{
    background-image: url('../assets/video_3-1.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
  
    p{
      // width: 417px;
      // height: 17px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
  .video_4{
    background-image: url('../assets/video_3.png');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
  
    p{
      // width: 417px;
      // height: 17px;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.76;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
  }
  
  .section-7{
  
    #carouselExampleIndicators{
  
    }
  
    // #multi-item-example {
    //   /*     height: 350px;
    //       overflow: hidden;
    //       width: 100%; */
    //   }
      
      .carousel-item {
          height: 500px;
      }
      
      .carousel-indicators li {
        width: 10px;
        height: 10px;
        opacity: 0.5;
        border-radius: 100%;
        background-color: #000000;
          // width: 10px;
          // height: 10px;
         
          // background-color: #00a63f;
      }
      .carousel-indicators {
          bottom: -50px;
  
          .active{
            background-color: #497de4;
          }
      }
  
   .work-bg{
      width: 733px;
      height: 487px;
      background-image: url('../assets/HowItWorks_image.png');
      background-position: right; 
      background-repeat: no-repeat;
      object-fit: cover;
  
      p{
        width: auto;
        height: 63px;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.1px;
        text-align: center;
        color: #ffffff;
      }
  
      button{
        width: 160px;
        height: 48px;
        border-radius: 24px;
        background-color: #497de4;
      }
  
      span{
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
  
      .normal-text{
        width: 594px;
        height: 96px;
        font-size: 19px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: 0.1px;
        text-align: center;
        color: #000000;
      }
   }
   @media (max-width: 34em) {
    .normal-text{
      width: 599px;
    }
  }
  }
  
  
  .section-8{
    background-color: #e8e8e8;
  
    .main-heading{
        // width: 686px;
        // height: 140px;
        // font-family: GoogleSans;
      // font-size: 72px;
      font-size: 40.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
  
    .sub-heading{
      // width: 901px;
      // height: 86px;
      // font-family: GoogleSans;
      // font-size: 38px;
      font-size: 20.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.37;
      letter-spacing: 0.2px;
      text-align: center;
      color: #000000;
    }
  
    .mobile-number{
      width: 350px;
      height: 56px;
      border-radius: 27px 0px 0px 27px;
      background-color: #ffffff;
    }
    .call-me-back{
      width: auto;
      height: 56px;
      // border-radius: 27px;
      border-radius: 0px 27px 27px 0px;
      background-color: #00a63f;  
    }
    .call-me-back-text {
      // width: 118px;
      // height: 16px;
      // font-family: GoogleSans;
      font-size: 19px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  
    ::placeholder {
      padding-left: 10px;
      opacity: 0.8;
      font-size: 20.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.49;
      letter-spacing: 0.1px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8); /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      padding-left: 10px;
      opacity: 0.8;
    font-size: 20.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      padding-left: 10px;
      opacity: 0.8;
    font-size: 20.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    }
    
    .show-xs-flex{
      display: none;
    }
  }
  
  
  @media (min-width: 768px) {
    .section-8{
      background-image: url('../assets/KnowMore_person.png');
      background-position: 25%; 
      background-repeat: no-repeat;
      background-size: 25% 80%;
    }
  }
  
  
  .section-4{
  
    #carouselExampleIndicators{
  
    }
  
    // #multi-item-example {
    //   /*     height: 350px;
    //       overflow: hidden;
    //       width: 100%; */
    //   }
      
      .carousel-item {
          height: 350px;
      }
      
      .carousel-indicators li {
        width: 10px;
        height: 10px;
        opacity: 0.5;
        border-radius: 100%;
        background-color: #000000;
          // width: 10px;
          // height: 10px;
         
          // background-color: #00a63f;
      }
      .carousel-indicators {
          bottom: -50px;
  
          .active{
            background-color: #00a63f;
          }
      }
  
    .experts-1{
      background-image: url('../assets/Expert_1.png');
      background-position: right; 
      background-repeat: no-repeat;
      background-size: cover;
      height: 351px;
      max-width:100%;
    }
  
    .experts-2{
      background-image: url('../assets/Expert_2.png');
      background-position: right; 
      background-repeat: no-repeat;
      background-size: cover;
      height: 351px;
      max-width:100%;
    }
  
    .experts-3{
      background-image: url('../assets/Expert_3.png');
      background-position: right; 
      background-repeat: no-repeat;
      background-size: cover;
      height: 351px;
      max-width:100%;
    }
  
    .experts-4{
      background-image: url('../assets/Expert_4.png');
      background-position: right; 
      background-repeat: no-repeat;
      background-size: cover;
      height: 351px;
      max-width:100%;
    }
  }
  
  
  
  .section-9{
    background-color: #545454;
  
    .footer-text-main{
      // width: 52px;
      // height: 15px;
      // font-family: GoogleSans;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  
    .footer-text-sub{
    //   width: 124px;
    // height: 51px;
    opacity: 0.6;
    // font-family: GoogleSans;
    font-size: 15.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.23;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    }
    .Copy-right-2019 {
      // width: 256px;
      // height: 33px;
      opacity: 0.6;
      // font-family: GoogleSans;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.17;
      letter-spacing: normal;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  @media (max-width: 768px) {
    .section-9{
    .remove-in-sm{
      display: none;
    }
  
    }
  }
  
  // .carousel-item {
  //   height: 350px;
  // }
  
  // .carousel-indicators li {
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 100%;
  //   background-color: black;
  // }
  // .carousel-indicators {
  //   bottom: -50px;
  // }