@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: "Open Sans";
  background-color: #ffffff;
}

.section-1 {
  background: url("../assets/MainBanner.jpg") no-repeat;
  background-position-x: 70%;
  background-size: cover;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-1 .navbar-padding {
  padding-top: 150px;
  padding-bottom: 164px;
}

.section-1 .fa.fa-navicon {
  color: #fff;
  font-size: 30px;
}

.section-1 .navbar {
  width: 100%;
  background: none !important;
}

.section-1 .navbar .navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.section-1 .navbar .nav-link {
  font-weight: bold;
}

.section-1 .navbar .nav-item {
  padding: 0 1rem;
}

@media (max-width: 34em) {
  .section-1 .navbar {
    background: none;
  }
}

@media (max-width: 890px) {
  .section-1 .navbar .nav-item {
    padding: 0 5px;
  }
}

@media (max-width: 34em) {
  .section-1 .navbar .nav-item .nav-link {
    padding-left: 25px;
    font-weight: normal;
    color: #fff !important;
  }
}

.section-1 #navbarSupportedContent > ul > li > a {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f5f4f2;
  opacity: 0.8;
}

.section-1 .Rounded-Rectangle-9 {
  height: 56px;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #497de4;
}

.section-1 .sign-up-btn {
  height: 36px;
  border-radius: 18px;
  border: solid 1px #f5f4f2;
  background-color: transparent;
}

.section-1 .Sign-Up {
  width: auto;
  height: 18px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-1 .main-heading {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.section-1 .sub-heading {
  padding-top: 0%;
  text-align: center;
  color: #ffffff;
}

.section-1 .Rounded-Rectangle-1 {
  width: auto;
  height: 56px;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #497de4;
}

.section-1 .Start-Free-Trial {
  width: 133px;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar {
    position: relative;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
  }
}

@media (max-width: 575px) {
  .Rounded-Rectangle-9 {
    width: auto;
  }
  .main-heading {
    font-size: 7vw;
  }
  .sub-heading {
    font-size: 3vw;
  }
  .Start-Free-Trial {
    font-size: 6vw;
  }
  .navbar-padding {
    padding-top: 150px;
  }
}

@media (min-width: 576px) {
  .Rounded-Rectangle-9 {
    width: 227px;
  }
  .Start-Free-Trial {
    font-size: 19px;
  }
  .main-heading {
    font-size: 40px;
  }
  .sub-heading {
    font-size: 25px;
  }
  .navbar-padding {
    padding-top: 150px;
  }
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 53px;
  }
  .navbar-padding {
    padding-top: 240px;
  }
}

@media (min-width: 992px) {
  .navbar-padding {
    padding-top: 240px;
  }
}

.section-2 {
  background-color: #f5f4f2;
}

.section-2 .main-heading {
  height: 31px;
  font-family: Open Sans;
  font-size: 39.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #2e2d2d;
}

.section-2 .sub-heading {
  height: 241px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Layer-46 {
  height: 321px;
}

.Rectangle-6 {
  background: url("../assets/AboutUs_Video.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.section-3 {
  background-image: linear-gradient(118deg, #254178, #0d2655);
}

.section-3 .main-heading {
  width: auto;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #f5f4f2;
}

.section-3 .sub-heading {
  width: auto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 575px) {
  .section-3 .main-heading {
    font-size: 7vw;
  }
  .section-3 .sub-heading {
    font-size: 3vw;
  }
  .section-3 .navbar-padding {
    padding-top: 150px;
  }
}

@media (min-width: 576px) {
  .section-3 .main-heading {
    font-size: 40px;
  }
  .section-3 .sub-heading {
    font-size: 15px;
  }
  .section-3 .navbar-padding {
    padding-top: 150px;
  }
}

@media (min-width: 768px) {
  .section-3 .main-heading {
    font-size: 53px;
  }
  .section-3 .navbar-padding {
    padding-top: 240px;
  }
}

@media (min-width: 992px) {
  .section-3 .navbar-padding {
    padding-top: 240px;
  }
}

.section-3 .services_1 {
  background: url("../assets/services_1.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 329px;
  position: relative;
}

.section-3 .services_1 .Talk-to-Expert {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-3 .services_2 {
  background: url("../assets/services_2.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 335px;
}

.section-3 .services_2 .Talk-to-Expert {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-3 .services_3 {
  background: url("../assets/services_3.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 329px;
}

.section-3 .services_3 .Talk-to-Expert {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-5 {
  background-image: url("../assets/BecomeExperts_image.png");
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 30% 100%;
}

.section-5 .main-heading {
  width: auto;
  font-size: 39.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #2e2d2d;
}

.section-5 .sub-heading {
  width: auto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.section-5 .normal-text {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

@media (max-width: 992px) {
  .section-5 .normal-text {
    display: none;
  }
}

.section-5 .Rounded-Rectangle-1-copy-5 {
  border-radius: 27px;
  background-color: #00a63f;
}

.section-5 .Apply-Now {
  width: 102px;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 992px) {
  .section-5 {
    background-size: 60% 100%;
  }
}

.section-6 h3 {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
}

.section-6 button {
  height: 354px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.05);
  background-color: #865757;
  width: 160px;
  height: 48px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 13.8px 1.2px rgba(0, 0, 0, 0.12);
  background-color: #e24a33;
}

.section-6 span {
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-6 .video_1 {
  background-image: url("../assets/video_1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_1 p {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-6 .video_2 {
  background-image: url("../assets/video_2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_2 p {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-6 .video_3 {
  background-image: url("../assets/video_3-1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_3 p {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-6 .video_4 {
  background-image: url("../assets/video_3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 354px;
}

.section-6 .video_4 p {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.section-7 .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000000;
}

.section-7 .carousel-indicators {
  bottom: -50px;
}

.section-7 .carousel-indicators .active {
  background-color: #497de4;
}

.section-7 .work-bg {
  width: 733px;
  height: 487px;
  background-image: url("../assets/HowItWorks_image.png");
  background-position: right;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-7 .work-bg p {
  width: auto;
  height: 63px;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.section-7 .work-bg button {
  width: 160px;
  height: 48px;
  border-radius: 24px;
  background-color: #497de4;
}

.section-7 .work-bg span {
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-7 .normal-text {
  width: 549px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
}

@media (max-width: 768px) {
  .section-7 .normal-text {
    width: 300px;
  }
  .section-7 .carousel-item {
    height: 650px;
  }
}

@media (max-width: 450px) {
  .section-7 .normal-text {
    padding: 0%;
    width: 100%;
  }
  .section-7 .carousel-item {
    height: 750px;
  }
}

.section-8 {
  background-color: #e8e8e8;
}

.section-8 .main-heading {
  font-size: 40.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.section-8 .sub-heading {
  font-size: 20.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.37;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

.section-8 .mobile-number {
  border: 0%;
  width: 30%;
  height: 56px;
  border-radius: 27px 0px 0px 27px;
  background-color: #ffffff;
}

.section-8 .call-me-back {
  width: 30%;
  height: 56px;
  border-radius: 0px 27px 27px 0px;
  background-color: #00a63f;
}

.section-8 .call-me-back-text {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-8 ::-webkit-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-8 :-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-8 ::-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-8 ::placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

.section-8 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.section-8 ::-ms-input-placeholder {
  /* Microsoft Edge */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.section-8 .show-xs-flex {
  display: none;
}

@media (max-width: 991px) {
  .call-me-back-text {
    font-size: 3vw;
  }
  ::-webkit-input-placeholder {
    font-size: 3vw;
  }
  :-ms-input-placeholder {
    font-size: 3vw;
  }
  ::-ms-input-placeholder {
    font-size: 3vw;
  }
  ::placeholder {
    font-size: 3vw;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 3vw;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .section-8 {
    background-image: url("../assets/KnowMore_person.png");
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: 25% 80%;
  }
  .call-me-back-text {
    font-size: 1vw;
  }
  ::-webkit-input-placeholder {
    font-size: 1vw;
  }
  :-ms-input-placeholder {
    font-size: 1vw;
  }
  ::-ms-input-placeholder {
    font-size: 1vw;
  }
  ::placeholder {
    font-size: 1vw;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 1vw;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 1vw;
  }
}

.section-4 .main-heading {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.section-4 .sub-heading {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.59;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  bottom: 1%;
  left: 10%;
}

.section-4 .carousel-item {
  height: 350px;
}

.section-4 .Ellipse-1 {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
          box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
  background-color: #f0ede9;
}

.section-4 .carousel-control-prev-icon,
.section-4 .carousel-control-next-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
          box-shadow: 0px -1px 9.3px 0.7px rgba(0, 0, 0, 0.18);
  background-color: #f0ede9;
}

.section-4 .fa-angle-right, .section-4 .fa-angle-left {
  color: #000000;
  font-size: 30px;
}

.section-4 .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000000;
}

.section-4 .carousel-indicators {
  bottom: -50px;
}

.section-4 .carousel-indicators .active {
  background-color: #00a63f;
}

.section-4 .experts-1 {
  background-image: url("../assets/Expert_1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 351px;
  max-width: 100%;
}

.section-4 .experts-2 {
  background-image: url("../assets/Expert_2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 351px;
  max-width: 100%;
}

.section-4 .experts-3 {
  background-image: url("../assets/Expert_3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 351px;
  max-width: 100%;
}

.section-4 .experts-4 {
  background-image: url("../assets/Expert_4.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 351px;
  max-width: 100%;
}

.section-9 {
  background-color: #545454;
}

.section-9 .footer-text-main {
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.section-9 .footer-text-sub {
  opacity: 0.6;
  font-size: 15.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.23;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.section-9 .Copy-right-2019 {
  opacity: 0.6;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.17;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .section-9 .remove-in-sm {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */