/* Common */

html {
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font: #{$base-size}/#{$line-height} $base-font;
  //color: $body-text;
  overflow-x: hidden;
}

.footer{
  background-color: #545454;

  .copy-right{
    opacity: 0.7;
    font-size: 15.5px;
    line-height: 2.1;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.7);
  }

  .privacy{
    opacity: 0.7;
    font-size: 15.5px;
    line-height: 2.1;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.7);
  }
}


:-webkit-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

:-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

:-ms-input-placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

 ::placeholder {
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  /* Firefox */
}

 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  padding-left: 10px;
  opacity: 0.8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.padding-top-24{
  padding-top: 24px;
}

.padding-top-16{
  padding-top: 16px;
}

.padding-top-70{
  padding-top: 70px;
}

