/* Footer */

footer {
  background-color: $sub-footer;
  padding: 44px 0 0;
}

.footer-top-wrap {
  border-bottom: 2px solid $border-dark;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  color: $white;
  padding-bottom: 10px;
}

.footer-list {
  padding-left: 0;

  li {
    list-style: none;

    a {
      color: rgba($white, 0.73);
      font-size: 14px;
      font-weight: 300;
      line-height: 1.8;
      text-decoration: none;
      transition: color .3s;

      @include hover {
        color: $white;
      }
    }
  }
}

.footer-contact {
  h5 {
    font-size: 16px;
    font-weight: 500;
    color: $white;
  }

  .footer-address {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: rgba($white, 0.73);
    line-height: 1.8;
    margin-bottom: 5px;
  }

  .contact-info {
    p {
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 14px;
      color: rgba($white, 0.73);
      a {
        color: rgba($white, 0.73);
        text-decoration: none;
      }
      span {
        font-weight: 500;
        color: $white;
      }
    }
  }
}

.social-icon {
  h5 {
    font-weight: 500;
    font-size: 16px;
  }
  .list-icon {
    li {
      list-style: none;
      display: inline-block;
      padding-right: 10px;

      a {
        span {
          line-height: 30px;
          text-decoration: none;
          height: 30px;
          width: 30px;
          color: $sub-footer;
          background-color: $light-text;
          display: inline-block;
          border-radius: 20px;
          text-align: center;
          font-size: 14px;
          transition: background-color .3s;
        }

        @include hover {
          span {
            background-color: $white;
          }
        }
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }
}

.payment{
  h5{
  font-size: 16px;
  }
}

.footer-bottom {
  background-color: $sub-footer;
  padding: 20px 0;
}

.sub-footer-left-info {
  color: $light-text;
  text-decoration: none;
  font-size: 12px;
}

.sub-footer-right-info {
  a {
    color: $light-text;
    text-decoration: none;
    font-size: 12px;
    transition: color .3s;

    &:after {
      display: inline-block;
      padding-right: .5rem;
      padding-left: .5rem;
      color: $light-text;
      content: "|";
    }

    &:last-child:after {
      content: '';
    }

    @include hover {
      color: $white;
    }
  }
}

//media
@include media-breakpoint-up(md) {
  footer {padding: 74px 0 0;}

  .footer-title {
    font-size: 19px;
  }

  .footer-list {
    li {
      a {
        font-size: 16px;
        line-height: 1.8;
      }
    }
  }

  .footer-contact {
    h5 {font-size: 18px;}
    .footer-address {font-size: 16px;}

    .contact-info {
      p {font-size: 16px;}
    }
  }

  .social-icon {
    h5 {
      font-weight: 500;
      font-size: 20px;
    }

    .list-icon {
      li {
        padding-right: 30px;
        a {
          span {
            line-height: 40px;
            height: 40px;
            width: 40px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .payment{
    h5{
      font-size: 18px;
    }
  }

  .footer-top-wrap {
    padding-bottom: 58px;
    margin-bottom: 48px;
  }

  .footer-bottom {padding: 40px 0;}

  .sub-footer-left-info {font-size: 16px;}
  .sub-footer-right-info { a {font-size: 16px;}}
}


@include media-breakpoint-up(lg) {

  .footer-contact-wrap {
    padding-left: 30px;
  }

}

@include media-breakpoint-up(xl) {

  .footer-contact-wrap {
    padding-left: 0;
  }

}