/* Header */

header {
  background-color: $white;
}

.brand-bar {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  //max-width: 400px;
  z-index: 1000;
  transition: right .3s;

  &.open {
    right: 0;
  }
}

.search-wrap {
  .dropdown-toggle {
    font-size: 14px;
    border-color: $input-border-color;

    &::after {
      display: none;
    }
  }

  .search-back {
    border-color: $input-border-color;
    border-radius: $border-radius 0 0 $border-radius;
    border-right: none;

    span {
      color: $light-text;
    }
  }

  .show > .btn-outline-secondary.dropdown-toggle {
    .icon-bars {
      color: $white;
    }
  }

  .icon-bars {
    font-size: 18px;
    line-height: 24px;
    color: $light-text;
  }

  .form-control {
    font-size: 14px;
  }

  .btn-search {
    color: $white;
    border-radius: 0 $border-radius $border-radius 0;
  }

  .react-autosuggest__container {
    .form-control {
      border-radius: 0;
    }
  }
}

.category-dropdown {
  .dropdown-item {
    font-size: 14px;
    color: $light-text;
    @include hpad(16);

    @include hover-focus {
      background-color: $light-bg;
      color: $secondary;
    }
  }
}

.announcement {
  font-size: 14px;
  padding: 5px 28px 5px 15px;
  border-radius: 0 !important;
  margin-bottom: 0;
  position: relative;

  .close-btn {
    color: $white;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 10px;
    line-height: 1;

    span {
      font-size: 9px;
      line-height: 12px;
      display: block;
    }
  }
}

.announcement-description {
  a{
    font-weight: bold;
  }
}

//.announcement-title {
//  font-size: 16px;
//  font-weight: bold;
//  margin-bottom: 10px;
//}
//
//.announcement-icon {
//  font-size: 24px;
//}


@include media-breakpoint-up(md) {

  //.announcement {
  //  padding: 15px 20px;
  //}
  //
  //.announcement-icon {
  //  font-size: 40px;
  //}
  //
  //.announcement-title {
  //  font-size: 20px;
  //  margin-bottom: 15px;
  //}

}


@include media-breakpoint-up(lg) {

  .brand-bar {
    position: relative;
    right: auto;
  }

  .search-wrap {
    min-width: 400px;

    .dropdown-toggle {
      border-top-left-radius: $input-border-radius !important;
      border-bottom-left-radius: $input-border-radius !important;

      &::after {
        display: inline-block;
      }
    }

    .form-control {
      border-top-left-radius: $border-radius !important;
      border-bottom-left-radius: $border-radius !important;
    }
  }

}

@include media-breakpoint-up(xl) {

  .search-wrap {
    min-width: 500px;

    .dropdown-toggle {
      @include vpad(12);
      height: 50px;
    }

    .btn-search {
      @include hpad(11);
      font-size: 21px;
      line-height: 26px;
    }
  }

}

