/* Icon Fonts */

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon.eot#{$font-slug}');
  src:  url('#{$font-path}/icomoon.eot#{$font-slug}#iefix') format('embedded-opentype'),
  url('#{$font-path}/icomoon.ttf#{$font-slug}') format('truetype'),
  url('#{$font-path}/icomoon.woff#{$font-slug}') format('woff'),
  url('#{$font-path}/icomoon.svg#{$font-slug}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
  content: "\e92e";
}
.icon-box:before {
  content: "\e900";
}
.icon-typical-phone:before {
  content: "\e92d";
}
.icon-envelope:before {
  content: "\e92b";
}
.icon-internet:before {
  content: "\e92c";
}
.icon-download:before {
  content: "\e929";
}
.icon-hamburger:before {
  content: "\e92a";
}
.icon-login:before {
  content: "\e923";
}
.icon-exclamation:before {
  content: "\e928";
}
.icon-quality-line:before {
  content: "\e924";
}
.icon-satisfaction-line:before {
  content: "\e925";
}
.icon-support-line:before {
  content: "\e926";
}
.icon-transaction-line:before {
  content: "\e927";
}
.icon-quality:before {
  content: "\e91f";
}
.icon-satisfaction:before {
  content: "\e920";
}
.icon-support:before {
  content: "\e921";
}
.icon-transaction:before {
  content: "\e922";
}
.icon-slick-prev:before {
  content: "\e91d" !important;
}
.icon-slick-next:before {
  content: "\e91e" !important;
}
.icon-login-fb:before {
  content: "\e91b";
}
.icon-login-google-plus:before {
  content: "\e91c";
}
.icon-minus:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-check:before {
  content: "\e913";
}
.icon-bars:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e916";
}
.icon-plus-rounded:before {
  content: "\e917";
}
.icon-tick-rounded:before {
  content: "\e918";
}
.icon-tick-thin:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e911";
}
.icon-arrow-back:before {
  content: "\e910";
}
.icon-arrow-next:before {
  content: "\e91a";
}
.icon-arrow-down-thin:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-currency-dollar:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-messenger:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-sold:before {
  content: "\e909";
}
.icon-star-fill:before {
  content: "\e90a";
}
.icon-telephone:before {
  content: "\e90b";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-track:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-watch:before {
  content: "\e90f";
}