/* Navigation */

.logo-mobile {
  padding-top: 6px;
  padding-bottom: 7px;

  img {
    height: 35px;
    width: auto;
    max-width: 160px;
  }
}

.mobile-back {
  color: $secondary;

  @include hover-focus {
    color: $secondary;
    text-decoration: none;
  }
}

.side-drag-menu {
  font-size: 12px;
}

.mobile-menu {
  .nav-link {
    color: $secondary;
    padding-left: .5rem;
    padding-right: .5rem;

    .icon-cart,
    .icon-user {
      font-size: 20px;
    }

    .icon-search {
      font-size: 16px;
    }

    .icon-login {
      font-size: 18px;
      opacity: .9;
      position: relative;
      top: 2px;
    }

    .badge {
      border-radius: 10px;
      position: relative;
      top: -12px;
    }
  }

  .dropdown-menu {
    border-color: $border-color;
  }

  .dropdown-item {
    font-size: 14px;
    @include hpad(16);

    @include hover-focus-active {
      background-color: $light-bg;
      color: $secondary;
    }
  }
}

.main-menu {
  .navbar-dark & .nav-link {
    font-size: 14px;
    //font-weight: 500;
    color: $white;
  }

  .nav-item.active .nav-link {
    color: $primary;
  }

  .dropdown-menu {
    background-color: $light-bg;
    border-color: transparent;
    border-radius: 5px;

    .dropdown-item {
      color: $light-text;
      font-size: 13px;

      //@include hover-focus-active {
      //  background-color: darken($secondary, 5%);
      //}
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}


@include media-breakpoint-down(md) {

  .main-menu {
    background-color: $white;
    position: fixed;
    left: calc(-#{$mobile-menu-width}px - 20px);
    top: 0;
    bottom: 0;
    width: #{$mobile-menu-width}px;
    z-index: 999;
    overflow-y: auto;
    box-shadow: 5px 2px 13px 0 rgba($black, .3);
    transition: left .3s;

    &.open {
      left: 0;
    }

    .nav-item {
      + .nav-item {
        border-top: 1px solid $border-color;
        &:last-child{
          border-top: 2px solid $border-color;
        }
      }

      &.dropdown {
        background-color: $white;
        transition: background-color .3s;

        &.show {
          background-color: $gray-fc;
        }
      }
    }

    .nav-link {
      padding: 13px 18px;
    }

    .has-submenu {
      position: relative;

      .sub-arrow {
        transform: rotate(-90deg);
        position: absolute;
        right: 15px;
        top: 13px;
        transition: transform .2s;

        &::before {
          font-family: 'icomoon' !important;
          content: "\e901";
          font-size: 8px;
        }
      }

      span.icon-search{
        position: absolute;
        right: 15px;
        top: 13px;
        transition: transform .2s;

        &::before {
          font-family: 'icomoon' !important;
          content: "\e908";
        }
      }
    }

    .show {
      .has-submenu {
        padding-bottom: 0;
        background-color: transparent !important;

        .sub-arrow {
          transform: rotate(0);
        }
      }

      .dropdown-menu {
        background-color: $gray-fc;
        margin-top: 0;
      }

      .dropdown-item {
        padding: 9px 25px;
      }
    }
  }

  .main-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    background-color: rgba($black, .2);
    display: none;

    .open + & {
      display: block;
    }
  }

}


@include media-breakpoint-up(lg) {

  .logo-desktop {
    img {
      height: 51px;
      width: auto;
      max-width: 225px;
    }
  }

  .desktop-menu {
    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: $black;
      padding-left: .5rem;
      padding-right: .5rem;

      [class^=icon-] {
        font-size: 26px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }

      .badge {
        border-radius: 11px;
        min-width: 22px;
        height: 22px;
        line-height: 15px;
        position: relative;
        top: -1px;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        padding-top: 4px;
        padding-bottom: 3px;
      }
    }

    .dropdown-menu {
      border-color: $border-color;
    }

    .dropdown-item {
      font-size: 14px;
      @include hpad(16);

      @include hover-focus-active {
        background-color: $light-bg;
        color: $secondary;
      }
    }
  }

  .main-menu {
    .nav-item {
      @include hpad(15);
    }

    .navbar-dark & .nav-link {
      font-size: 18px;
    }

    .dropdown-menu {
      background-color: $white;
      border: 1px solid $border-color;
      border-top: none;
      border-radius: 0;
      margin-top: 8px !important;
      @include vpad(0);
    }

    .dropdown-item {
      font-size: 14px;
      @include vpad(10);

      @include hover-focus-active {
        background-color: $react-select-bg;
        color: $secondary;
      }
    }
  }

}


@include media-breakpoint-up(xl) {

  .main-menu {
    .nav-item {
      @include hpad(20);
    }
  }

  .desktop-menu {
    .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

}