
.registration_steps {
  //i.fa {
  //  display: inline-block;
  //  border-radius: 60px;
  //  box-shadow: 0px 0px 2px #888;
  //  padding: 5px 5px;
  //}

  //span{
  //  display: inline-block;
  //  border-radius: 60px;
  //  box-shadow: 0px 0px 2px #888;
  //  padding: 8px 15px;
  //  font-size: 14px;
  //}

  .hr-line{
    width: 210px;
    height: 2px;
  }

  .active{
    background-color: #42b364;
  }

  .next{
    background-color: #e1e1e1;
  }

  .current{
    background-color: #497de4;
  }


}